@model Domain.Asiento

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Columna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Columna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avion.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
